/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Set every element's box-sizing to border-box */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/* Your code starts here! */

* {
    box-sizing: border-box;
}

.container nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 80%;
    margin-left: 5%;
}

nav a {
    text-decoration: none;
    color: gray;
}

.innimg {
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    font-size: 90px;
    text-align: center;
    padding: 5%;
}

hr {
    width: 80%;
    border: 1px solid black;
    margin-bottom: 3%;
    margin-left: 5%;
}

.innimg img {
    margin-right: 15%;
}

#iod {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 19%;
    margin-top: 5%;
    margin-right: 15%;
    font-family: 'Bangers', sans-serif;
}

#iod button {
    width: 62%;
    height: 10%;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-top: 6%;
    background-color: white;
    border: 1px solid black;
    font-size: 16px;
}

.first-content {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-bottom: 3%;
    width: 80%;
}

.middle-img {
    margin-left: 5%;
    margin-bottom: 1%;
    width: 80%;
}

.servs {
    display: inline-block;
    margin-bottom: 1%;
    width: 30%;
}

.prods {
    display: inline-block;
    margin-bottom: 1%;
    width: 30%;
}

.vision {
    display: inline-block;
    margin-bottom: 1%;
    width: 30%;
}

.second-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 5%;
    margin-bottom: 3%;
    margin-top: 2%;
}

.contact {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-bottom: 3%;
    width: 50%;
}

.contact .phone-web {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-between;
}

.copyright {
    display: inline-block;
    margin-left: 50%;
    margin-bottom: 1%;
    margin-top: 5%;
    width: 50%;
    text-align: center;
}

@media (max-width: 800px){
    .container {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-top: 5%;
    }

    .container nav {
        align-items: center;
        width: 90%;
        margin-top: 5%;
    }

    .container nav a {
        display: flex;
        justify-content: space-evenly;
    }

    .container .logo {
        display: flex;
        align-items: center;
        margin-left: 8%;
        width: 25%;
    }

    .innimg img {
        display: none;
    }

    .innimg {
        width: 45%;
        display: flex;
        align-items: center;
        margin-left: 15%;
        padding-bottom: 5%;
        font-size: 60px;
    }

    #iod {
        display: flex;
        justify-content: center;
        margin-left: 15%;
        align-items: flex-start;
    }

    #iod button {
        width: 175%;
        font-size: 14px;
        margin-top: 10%;
        margin-left: 55%;
    }

    .first-content {
        width: 90%;
        display: flex;
        justify-content: center;
        margin-left: 7%;
    }

    .first-content .about {
        padding-left: 5%;
    }

    hr {
        width: 90%;
        margin-left: 7%;
    }

    .middle-img {
        width: 90%;
        margin-left: 7%;
    }

    .second-content {
        width: 90%;
        margin-left: 7%;
    }

    .contact {
        width: 90%;
        margin-left: 7%;
    }

    .copyright {
        margin-left: 25%;
        margin-bottom: 5%;
    }
}

@media (max-width: 400px) {
    .container .logo {
        width: 65%;
        padding: 15px;
        border-bottom: 1px solid gray;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    nav a {
        border-bottom: 1px solid gray;
        padding: 15px;
        width: 65%;
    }

    .innimg {
        width: 90%;
        margin-left: 5%;
    }

    .innimg #iod {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 50px;
    }

    .innimg #iod button {
        width: 100%;
        margin-left: 5%;
    }

    .first-content {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .feats {
        width: 100%;
        padding-bottom: 10%;
    }

    .about {
        width: 100%;
        margin-left: -5%;
        padding-bottom: 10%;
    }

    .midimage {
        padding-bottom: 5%;
    }

    .second-content {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .servs {
        width: 100%;
        padding-bottom: 10%;
    }

    .prods {
        width: 100%;
        padding-bottom: 10%;
    }

    .vision {
        width: 100%;
        padding-bottom: 10%;
    }

    .copyright {
        width: 80%;
        margin-left: 20%;
        font-size: small;
    }
}

